{% extends 'mailing/includes/basic_template.html' %}
{% load my_tags %}

{% block title %}Отправка сообщений{% endblock %}

{% block content %}
{% include 'mailing/includes/header_menu.html' %}
<div class="container marketing">
    <div class="row g-0 p-5">
        <div class="col-8 jumbotron">
            <div class="container">
                <h2>{{ mailing }}</h2>
                <p>Автор: {{ mailing.owner }}</p>
                <p>Тема письма: {{ mailing.message.subject_letter }}</p>
                <p>Количество получателей: {{ list_recipients|length }}</p>
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-info">Выполнить рассылку</button>
                        <a class="btn btn-lg btn-block btn-secondary" href="{% url 'mailing:detail_mailing' mailing.pk %}" >Отмена</a>
                </form>
                <div class="row g-0">
                    <footer class="pt-4 my-md-1 pt-md-2">
                        <a class="col-7 mx-auto btn-lg btn-block btn btn-outline-secondary" href="{% url 'mailing:index' %}">Вернуться к рассылкам</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h2 class="text-center">Список получателей</h2>
            <ul class="list-group">
                {% for recipient in list_recipients %}
                    <li class="list-group-item">
                        <a href="{% url 'mailing:detail_recipient' recipient.pk %}">{{ recipient }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}